---
import { Picture } from 'astro:assets'
import BaseLayout from 'layouts/BaseLayout.astro'
import Layout from 'layouts/Layout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import SandLayout from 'layouts/SandLayout.astro'
import Button from 'components/Button.astro'
import BottleVodka from 'images/bottle-vodka-compressed.png'
import BottleSiembra from 'images/bottle-siembra.png'
import BottleGin from 'images/bottle-gin.png'
import Carousel from 'components/Carousel.astro'
import { getLangFromUrl, useTranslations, useTranslatedPath } from 'i18n/utils'
import ProductsCart from './_components/ProductsCart.svelte'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const bottles = [
  {
    title: 'DE CAJÓN VODKA',
    img: { alt: 'De Cajon Vodka', src: BottleVodka },
    link: '/products/vodka',
    size: '750',
  },
  {
    title: 'DE CAJÓN GIN',
    img: { alt: 'DE CAJÓN GIN', src: BottleGin },
    link: '/products/vodka-gin',
    size: '750',
  },
  {
    title: 'SIEMBRA VODKA',
    img: { alt: 'SIEMBRA VODKA', src: BottleSiembra },
    link: '/products/vodka-siembra',
    size: '750',
  },
]
---

<Layout title="Carrito de compras">
  <MiddlewareLayout>
    <BaseLayout>
      <SandLayout class="pt-[5.625rem]">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <ProductsCart client:load />
        </div>
      </SandLayout>
      <SandLayout class="py-[4.375rem]">
        <div
          class="m-auto grid w-[76%] max-w-screen-2xl grid-cols-1 grid-rows-[auto_auto] gap-x-6 gap-y-[0.875rem] md:grid-cols-3"
        >
          <h1
            class="col-span-1 col-start-1 row-start-1 border border-eerie-black py-[0.825rem] text-center text-xl uppercase md:col-span-3 lg:text-4xl"
          >
            {t('cart.similarProducts')}
          </h1>
          <div class="block md:hidden">
            <Carousel>
              {
                bottles.map((bottle) => (
                  <article class="flex w-full flex-shrink-0 flex-col items-center border border-eerie-black py-[1.125rem]">
                    <Picture
                      alt={bottle.img.alt}
                      class="mb-4 h-[260px] object-cover"
                      height={260}
                      src={bottle.img.src}
                      loading="lazy"
                      formats={['webp', 'avif', 'jpg']}
                    />
                    <h2 class="mb-3 text-center uppercase md:text-sm lg:text-2xl">
                      {bottle.title}
                    </h2>
                    <p class="mb-3 text-center md:text-xs lg:text-xl">
                      {t('common.bottle')} {bottle.size}ml
                    </p>
                    <Button as="a" href={translatePath(bottle.link)}>
                      {t('common.buyNow')}
                    </Button>
                  </article>
                ))
              }
            </Carousel>
          </div>
          {
            bottles.map((bottle) => (
              <article class="hidden flex-col items-center border border-eerie-black py-[1.125rem] md:flex">
                <Picture
                  alt={bottle.img.alt}
                  class="mb-4 h-[260px] object-cover"
                  height={260}
                  src={bottle.img.src}
                  widths={[176]}
                  sizes={`${176}px`}
                  loading="lazy"
                  formats={['webp', 'avif', 'jpg']}
                />
                <h2 class="mb-3 text-center uppercase md:text-sm lg:text-2xl">
                  {bottle.title}
                </h2>
                <p class="mb-3 text-center md:text-xs lg:text-xl">
                  {t('common.bottle')} {bottle.size}ml
                </p>
                <Button as="a" href={translatePath(bottle.link)}>
                  {t('common.buyNow')}
                </Button>
              </article>
            ))
          }
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
