---
import { Image, Picture } from 'astro:assets'
import ProductInfo from './_components/product-info.astro'
import ProductDescription from './_components/product-description.astro'
import ProductPhotos from './_components/product-photos.astro'
import ProductLayout from './_components/product-layout.astro'
import BottleSiembra from 'images/bottle-siembra.png'
import WorldSpiritBottle from 'images/world-spirit-bottle.png'
import Pucara from 'images/pucara.png'
import BlackBull from 'images/black-bull.png'
import DeCajonGin from 'images/decajon-gin.png'
import Siembra1 from 'images/siembra-1.jpeg'
import Siembra2 from 'images/siembra-2.jpeg'
import Siembra3 from 'images/siembra-3.jpeg'
import Siembra4 from 'images/siembra-4.jpeg'
import SiembraBanner from 'images/siembra-banner.png'
import SiembraDescrition from 'images/siembra-description.png'
import Button from 'components/Button.astro'
import AngleLeft from 'icons/angle-left.svg'
import AngleRight from 'icons/angle-right.svg'
import LongLeftArrow from 'icons/long-left-arrow.svg'
---

<ProductLayout>
  <Fragment slot="default">
    <div class="m-auto max-w-screen-2xl overflow-x-hidden">
      <div
        class="m-auto flex max-w-screen-2xl transition-transform ease-linear"
        id="carousel-banner-content"
      >
        <div
          class="mr-auto hidden w-full max-w-screen-2xl grid-cols-[2fr_1.5fr] gap-y-6 pb-[2.125rem] pl-[12%] md:ml-auto md:grid md:flex-shrink-0 md:grid-cols-[2fr_1fr_1fr_3fr] md:gap-y-[0.625rem] xl:grid-cols-[2fr_1fr_1fr_3fr] xl:gap-y-[1.875rem]"
        >
          <ul
            class="col-start-1 row-start-2 hidden gap-3 justify-self-start md:flex"
          >
            <li>
              <Button
                class="[&&]:bg-gentian-blue"
                id="prev-banner-button"
                variant="rounded"
              >
                <Image src={AngleLeft} alt="angle-left" />
              </Button>
            </li>
            <li>
              <Button
                class="[&&]:bg-gentian-blue"
                id="next-banner-button"
                variant="rounded"
              >
                <Image src={AngleRight} alt="angle-right" />
              </Button>
            </li>
          </ul>
          <p
            class="col-start-1 row-start-3 hidden text-left md:block lg:text-sm xl:text-base"
          >
            Siembra Vodka
          </p>
          <h1
            class="col-start-1 -col-end-1 row-start-1 ml-[12%] text-center text-xl uppercase md:col-start-1 md:col-end-2 md:row-start-4 md:ml-0 md:text-left lg:text-2xl xl:text-4xl"
          >
            EL VODKA QUE SE HACÍA ESPERAR
          </h1>
          <p
            class="col-start-1 -col-end-1 row-start-2 ml-[12%] text-center text-xs md:col-start-1 md:col-end-2 md:row-start-5 md:ml-0 md:text-left lg:text-sm xl:text-base"
          >
            Es la versión urbana de los vodkas de De Cajón. Compuesto por
            alcoholes de papa de las regiones de Costa y Sierra, su perfil
            combina fuerza y suavidad, con un toque casi neutro en aroma y una
            entrada en boca delicada.
          </p>
          <Picture
            src={SiembraBanner}
            loading="lazy"
            pictureAttributes={{
              class:
                'md:col-start-3 md:row-start-5 md:col-end-5 md:row-end-9 row-start-5 row-end-6 col-start-1 -col-end-1 justify-self-start',
            }}
            formats={['png', 'webp', 'avif']}
            alt="SiembraBanner"
          />
          <Picture
            src={BottleSiembra}
            loading="lazy"
            class="object-fill"
            pictureAttributes={{
              class:
                'md:col-start-2 md:row-start-1 md:col-end-4 md:row-end-8 col-start-2 row-start-4 row-end-7 justify-self-end',
            }}
            formats={['png', 'webp', 'avif']}
            alt="BottleSiembra"
          />
          <!--TODO: add link -->
          <Button
            as="a"
            href="/products/vodka-siembra"
            class="col-start-1 -col-end-1 row-start-3 ml-[12%] justify-self-center md:col-start-1 md:col-end-2 md:row-start-6 md:ml-0 md:justify-self-start [&&]:bg-gentian-blue"
            >Descubre Más</Button
          >
        </div>
        <div
          class="ml-auto grid w-full flex-shrink-0 grid-cols-[minmax(0,3fr)_minmax(0,1fr)] grid-rows-[auto_auto] items-center pb-[2.125rem] pl-[12%] md:grid-cols-[2fr_0.5fr_1fr_2fr_2.5fr] lg:md:grid-cols-[2fr_0.5fr_1fr_3fr_1fr_2.5fr] lg:grid-rows-[min-content_auto]"
        >
          <Image
            class="col-start-1 row-start-2 -row-end-1 h-full object-contain object-center md:col-start-2 md:col-end-5 md:row-start-1 lg:col-end-6 lg:object-top"
            src={WorldSpiritBottle}
            alt="World Spirit Man"
          />
          <ul
            class="col-start-1 row-start-1 mb-4 hidden gap-2 self-end md:flex lg:mb-[2.125rem]"
          >
            <li>
              <Button variant="rounded" id="prev-banner-button">
                <Image src={AngleLeft} alt="angle-left" />
              </Button>
            </li>
            <li>
              <Button variant="rounded" id="next-banner-button">
                <Image src={AngleRight} alt="angle-right" />
              </Button>
            </li>
          </ul>
          <header
            class="col-start-1 -col-end-1 row-start-1 mr-[12%] flex flex-col items-center justify-start gap-[0.875rem] self-start md:col-end-3 md:row-start-2 md:mr-0 md:items-start lg:col-end-4"
          >
            <p class="text-center text-base sm:text-left">De Cajón Vodka</p>
            <h1
              class="text-center text-xl sm:text-left md:w-4/5 lg:text-2xl xl:text-4xl"
            >
              EL VODKA QUE NO PODÍA FALTAR
            </h1>
            <p class="text-center text-xs md:text-left lg:text-sm xl:text-base">
              Primer sorbo de la línea, elaborado con papas peruanas
              seleccionadas que aportan matices únicos, desde grano tostado
              hasta notas florales y cítricas. Vodka de cuerpo robusto y entrada
              cálida, ideal para paladares exigentes.
            </p>
            <Button
              as="a"
              href="/products/vodka"
              class="w-max self-center md:self-start">Descubre Más</Button
            >
          </header>
          <Picture
            src={Pucara}
            class="h-full object-contain"
            pictureAttributes={{
              class:
                'md:col-start-4 self-start translate-x-1/4 md:translate-x-0 -translate-y-1/4 md:translate-y-0  -col-end-1 -z-10 row-start-2 lg:row-start-1 md:-row-end-1 col-start-1',
            }}
            formats={['webp', 'avif', 'png']}
            alt="World Spirit Man"
          />
        </div>
        <div
          class="hidden w-full max-w-screen-2xl grid-cols-[1fr_2fr] gap-y-6 pb-[2.125rem] pr-[12%] md:grid md:flex-shrink-0 md:grid-cols-[2fr_1fr_1.5fr] md:gap-y-[0.625rem] xl:grid-cols-[2fr_1fr_1fr] xl:gap-y-[1.875rem]"
        >
          <ul
            class="col-start-3 row-start-2 hidden gap-3 justify-self-end md:flex"
          >
            <li>
              <Button
                id="prev-banner-button"
                class="[&&]:bg-eerie-black"
                variant="rounded"
              >
                <Image src={AngleLeft} alt="angle-left" />
              </Button>
            </li>
            <li>
              <Button
                id="next-banner-button"
                class="[&&]:bg-eerie-black"
                variant="rounded"
              >
                <Image src={AngleRight} alt="angle-right" />
              </Button>
            </li>
          </ul>
          <p
            class="col-start-3 row-start-3 hidden text-right md:block lg:text-sm xl:text-base"
          >
            De Cajón Gin
          </p>
          <h1
            class="col-start-1 -col-end-1 row-start-1 mr-[12%] text-center text-xl uppercase md:col-start-3 md:row-start-4 md:mr-0 md:text-right lg:text-2xl xl:text-4xl"
          >
            EL GIN CON EL QUE TODOS SOÑABAN
          </h1>
          <p
            class="col-start-1 -col-end-1 row-start-2 mr-[12%] text-center text-xs md:col-start-3 md:row-start-5 md:mr-0 md:text-right lg:text-sm xl:text-base"
          >
            Combina 21 botánicos de origen peruano y europeo. La mezcla incluye
            ingredientes como molle, limón rugoso, muña, cardamomo y cacao,
            entre otros. Cada destilación preserva el alma de sus ingredientes,
            logrando un gin equilibrado y lleno de aromas.
          </p>
          <Picture
            src={BlackBull}
            loading="lazy"
            pictureAttributes={{
              class:
                'md:col-start-1 md:row-start-2 md:col-end-3 md:row-end-8 row-start-5 row-end-6 col-start-1 -col-end-1 justify-self-start',
            }}
            formats={['png', 'webp', 'avif']}
            alt="BlackBull"
          />
          <Picture
            src={DeCajonGin}
            loading="lazy"
            class="object-fill"
            pictureAttributes={{
              class:
                'md:col-start-2 md:row-start-1 md:row-end-8 col-start-1 row-start-4 row-end-6 justify-self-end',
            }}
            formats={['png', 'webp', 'avif']}
            alt="DeCajonGin"
          />
          <!--TODO: add link -->
          <Button
            as="a"
            href="/products/vodka-gin"
            class="col-start-1 -col-end-1 row-start-3 mr-[12%] self-start justify-self-center md:col-start-3 md:row-start-6 md:mr-0 md:justify-self-end [&&]:bg-eerie-black"
            >Descubre Más</Button
          >
        </div>
      </div>
    </div>
    <div class="hidden items-center justify-center md:flex">
      <Button class="[&&]:bg-eerie-black" variant="rounded" id="scroll-to">
        <Image class="-rotate-90" src={LongLeftArrow} alt="angle-left" />
      </Button>
    </div>
  </Fragment>
  <Fragment slot="information">
    <ProductPhotos
      banner={{ alt: 'DeCajonGin1', src: Siembra1 }}
      bottom={[
        { alt: 'DeCajonGin2', src: Siembra2 },
        { alt: 'DeCajonGin3', src: Siembra3 },
        { alt: 'DeCajonGin4', src: Siembra4 },
      ]}
    />
    <ProductInfo id={3} title="SIEMBRA VODKA" price={34}>
      La elaboración se realiza con los más estrictos controles y estándares de
      calidad, desde la recepción de la materia prima hasta su comercialización.
      El proceso combina la técnica tradicional con la destilación moderna
      utilizando una tecnología de vanguardia, como la rectificación realizada
      en torres de 20 platos hechos de cobre de estándar mundial, haciendo de
      Siembra Vodka una bebida de estándar mundial.</ProductInfo
    >
  </Fragment>
  <Fragment slot="description">
    <ProductDescription
      title="DESTILADO DE PAPAS PERUANAS"
      descriptions={[
        'Alcohol: Posee una graduación de 40% a 20°C.',
        'Origen: Papas peruanas andinas cuidadosamente seleccionadas para su destilación, alcohol de caña rectificado.',
        'Presentación: Es envasado en una botella elegante, atrevida y cercana de 750ml cuya etiqueta combina ilustraciones y gráficos con colores vívidos que reflejan valores peruanos y tendencias universales.',
      ]}
      ><div class="siembra--banner">
        <Picture
          class="aspect-square object-contain md:aspect-auto md:h-full"
          formats={['webp', 'avif', 'jpeg']}
          loading="lazy"
          alt="SiembraDescription"
          src={SiembraDescrition}
        />
      </div>
    </ProductDescription>
  </Fragment>
</ProductLayout>
<style>
  .siembra--banner {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(249, 62, 233, 0.57) 0%,
      rgba(169, 25, 157, 0.57) 49.5%,
      rgba(79, 193, 218, 0.57) 100%
    );
  }
</style>
<script>
  const leftButton = document.querySelectorAll('#prev-banner-button')
  const rightButton = document.querySelectorAll('#next-banner-button')
  const carouselContentEl = document.querySelector('#carousel-banner-content')
  const itemsCount = carouselContentEl?.children.length ?? 0
  let counter = 0
  Array.from(leftButton)?.forEach?.((btn) =>
    btn?.addEventListener('click', () => {
      counter = !counter ? itemsCount - 1 : counter - 1
      const translateWidth = -100 * counter
      carouselContentEl?.setAttribute(
        'style',
        `transform: translateX(${translateWidth}%)`
      )
    })
  )

  Array.from(rightButton)?.forEach((btn) =>
    btn?.addEventListener('click', () => {
      counter = counter >= itemsCount - 1 ? 0 : counter + 1
      const translateWidth = -100 * counter
      carouselContentEl?.setAttribute(
        'style',
        `transform: translateX(${translateWidth}%)`
      )
    })
  )
</script>
