---
import { Image, Picture } from 'astro:assets'
import ProductInfo from './_components/product-info.astro'
import ProductDescription from './_components/product-description.astro'
import ProductPhotos from './_components/product-photos.astro'
import ProductLayout from './_components/product-layout.astro'
import BottleSiembra from 'images/bottle-siembra.png'
import Siembra1 from 'images/siembra-1.jpeg'
import Siembra2 from 'images/siembra-2.jpeg'
import Siembra3 from 'images/siembra-3.jpeg'
import Siembra4 from 'images/siembra-4.jpeg'
import SiembraBanner from 'images/siembra-banner.png'
import DeCajonGinDescription from 'images/siembra-description.png'
import Button from 'components/Button.astro'
import AngleLeft from 'icons/angle-left.svg'
import AngleRight from 'icons/angle-right.svg'
import LongLeftArrow from 'icons/long-left-arrow.svg'
---

<ProductLayout>
  <Fragment slot="default">
    <div
      class="mr-auto grid w-[88%] max-w-screen-2xl grid-cols-[2fr_1.5fr] gap-y-6 md:ml-auto md:grid-cols-[2fr_1fr_1fr_3fr] md:gap-y-[0.625rem] xl:grid-cols-[2fr_1fr_1fr_3fr] xl:gap-y-[1.875rem]"
    >
      <ul
        class="col-start-1 row-start-2 hidden gap-3 justify-self-start xl:flex"
      >
        <li>
          <Button class="[&&]:bg-gentian-blue" variant="rounded">
            <Image src={AngleLeft} alt="angle-left" />
          </Button>
        </li>
        <li>
          <Button class="[&&]:bg-gentian-blue" variant="rounded">
            <Image src={AngleRight} alt="angle-right" />
          </Button>
        </li>
      </ul>
      <p
        class="col-start-1 row-start-3 hidden text-left md:block lg:text-sm xl:text-base"
      >
        Siembra Vodka
      </p>
      <h1
        class="col-start-1 -col-end-1 row-start-1 ml-[12%] text-center text-xl uppercase md:col-start-1 md:col-end-2 md:row-start-4 md:ml-0 md:text-left lg:text-2xl xl:text-4xl"
      >
        EL VODKA QUE SE HACÍA ESPERAR
      </h1>
      <p
        class="col-start-1 -col-end-1 row-start-2 ml-[12%] text-center text-xs md:col-start-1 md:col-end-2 md:row-start-5 md:ml-0 md:text-left lg:text-sm xl:text-base"
      >
        Es la versión urbana de los vodkas de De Cajón. Compuesto por alcoholes
        de papa de las regiones de Costa y Sierra, su perfil combina fuerza y
        suavidad, con un toque casi neutro en aroma y una entrada en boca
        delicada.
      </p>
      <Picture
        src={SiembraBanner}
        loading="lazy"
        pictureAttributes={{
          class:
            'md:col-start-3 md:row-start-5 md:col-end-5 md:row-end-9 row-start-5 row-end-6 col-start-1 -col-end-1 justify-self-start',
        }}
        formats={['png', 'webp', 'avif']}
        alt="SiembraBanner"
      />
      <Picture
        src={BottleSiembra}
        loading="lazy"
        class="object-fill"
        pictureAttributes={{
          class:
            'md:col-start-2 md:row-start-1 md:col-end-4 md:row-end-8 col-start-2 row-start-4 row-end-7 justify-self-end',
        }}
        formats={['png', 'webp', 'avif']}
        alt="BottleSiembra"
      />
      <!--TODO: add link -->
      <Button
        as="a"
        href="/"
        class="col-start-1 -col-end-1 row-start-3 ml-[12%] justify-self-center md:col-start-1 md:col-end-2 md:row-start-6 md:ml-0 md:justify-self-start [&&]:bg-gentian-blue"
        >Descubre Más</Button
      >
    </div>
    <div class="hidden items-center justify-center md:flex">
      <Button class="[&&]:bg-gentian-blue" variant="rounded" id="scroll-to">
        <Image class="-rotate-90" src={LongLeftArrow} alt="angle-left" />
      </Button>
    </div>
  </Fragment>
  <Fragment slot="information">
    <ProductPhotos
      banner={{ alt: 'DeCajonGin1', src: Siembra1 }}
      bottom={[
        { alt: 'DeCajonGin2', src: Siembra2 },
        { alt: 'DeCajonGin3', src: Siembra3 },
        { alt: 'DeCajonGin4', src: Siembra4 },
      ]}
    />
    <ProductInfo
      title="SIEMBRA VODKA"
      info="La elaboración se realiza con los más estrictos controles y estándares de calidad, desde la recepción de la materia prima hasta su comercialización. El proceso combina la técnica tradicional con la destilación moderna utilizando una tecnología de vanguardia, como la rectificación realizada en torres de 20 platos hechos de cobre de estándar mundial, haciendo de Siembra Vodka una bebida de estándar mundial."
      price="s/. 99,00"
    />
  </Fragment>
  <Fragment slot="description">
    <ProductDescription
      title="DESTILADO DE PAPAS PERUANAS"
      descriptions={[
        'Alcohol: Posee una graduación de 40% a 20°C.',
        'Origen: Papas peruanas andinas cuidadosamente seleccionadas para su destilación, alcohol de caña rectificado.',
        'Presentación: Es envasado en una botella elegante, atrevida y cercana de 750ml cuya etiqueta combina ilustraciones y gráficos con colores vívidos que reflejan valores peruanos y tendencias universales.',
      ]}
    >
      <div class="siembra--banner">
        <Picture
          class="aspect-square object-contain md:aspect-auto md:h-full"
          formats={['webp', 'avif', 'jpeg']}
          pictureAttributes={{ class: 'md:row-start-1 md:-row-end-1' }}
          loading="lazy"
          src={DeCajonGinDescription}
          alt="DeCajonDescription"
        />
      </div>
    </ProductDescription>
  </Fragment>
</ProductLayout>
<style>
  .siembra--banner {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(249, 62, 233, 0.57) 0%,
      rgba(169, 25, 157, 0.57) 49.5%,
      rgba(79, 193, 218, 0.57) 100%
    );
  }
</style>
